
@media screen and (max-width:1200px){
    .header__inner{
        margin: 0 5%;
    }

    .best-deals{
        margin: 0 5%;
    }

    .rent-car{
        margin-left: 3%;
    }
}

@media screen and (max-width:992px){
    .best-deals__info h2{
        font-size: 47px;
    }

    .rent-car_title h2{
        font-size: 47px;
    }
}

@media screen and (max-width:768px){
    .best-deals__info h2{
        font-size: 40px;
    }

    .bold-span{
        font-size: 32px;
    }

    .rent-car_title h2{
        font-size: 40px;
    }
}

@media screen and (max-width:576px){
    header{
        margin: 3% 0;
    }
    .header-logo{
        margin-right: 8%;
    } 

    nav{
        gap: 25px;
    }

    .header-btn button{
        padding: 6px 20px;
        font-size: 13px;
    }

    .best-deals__info h2{
        font-size: 30px;
        line-height: 35px;
    }

    .best-deals__info p{
        font-size: 30px;
        font-size: 14px;
        line-height: 21px;
    }

    .buy-now{
        font-size: 13px;
    }
    
    .video-introduction{
        padding: 10px 15px;
        font-size: 13px;
    }

    .rent-car_title h2{
        font-size: 30px;
        line-height: 35px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }

    .cardes img{
        margin-bottom: 1%;
    }

    .card__title h6{
        font-size: 35px;
    }
}

@media screen and (max-width:320px){
    nav{
        display: flex;
        flex-direction: column;
        gap: 1px;
        text-align: center;
    }
    
    nav a{
        font-size: 12px;
    }

    .best-deals__picture{
        top: -3%;
    }

    .best-deals__info h2{
        font-size: 25px;
    }

    .best-deals__info p{
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .info-buttons{
        margin: 0 auto;
    }

    .buy-now{
        font-size: 10px;
    }
    
    .video-introduction{
        font-size: 10px;
    }

    .info-statistics span{
        font-size: 15px;
    }

    .rent-car_title h2{
        font-size: 25px;
    }

    .card__title h6{
        font-size: 25px;
    }
}
@media screen and (max-width:1200px) {
    .sevices-car {
        width: 98%;
        height: 60%;
    }
    .services__text {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    .rentals__subtitle-info {
        text-align: center;
    }
    .line {
    margin-left: 3%;
    }
    .line-2 {
        margin-left: 3%;
        }
    .services__subtitle {
        font-size: 22px;
        display: flex;
        justify-content: center;
    }
    .card-citi {
        width: 99%;
        height: 200px;
    }
    .cards {
        width: 32%;
        height: 472px;
        padding-top: 50px;
        margin: 7px;
    }
        /* .cart {
            width: 293px;
        } */
        .carts {
            width: 293px;
        }
@media screen and (max-width:996px) {
    .sevices-car {
        width: 96%;
        height: 69%;
    }
    .services__subtitle {
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    .services {
        display: flex;
        /* justify-content: space-between; */
        text-align: center;
        gap: 13px;
        margin-left: 2%;
    }
    .services__text {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
    .card-citi {
        /* width: 240px; */
        height: 160px;
    }
    /* .cart {
        width: 240px;
    } */
    .rentals__text {
        font-size: 14px;
        padding: 26px 0px;
    }    
    .rentals__text-bold {
    width: 115px;
    height: 28px;
    margin-right: 0px;
    font-size: 13px;
    }

    .rentals__text-color {
    padding: 25px 1px;
    }
    /* .cart {
        width: 247px;
    } */
    .carts {
        width: 247px;
    }
    .rentals__text {
        width: 235px;
    }
    .rentals__text-color {
        width: 236px;
    }
    .rentals {
        height: 1570px;
    }
}
}
@media screen and (max-width:769px) {
    .services {
        text-align: center;
        display: inline;
    }
    .Our-Other-Services {
        height: 100%;
    }    
    .cart {
        /* width: 601px; */
        height: 367px;
    }
    .privat-harter {
        margin: 21px;
    }
    .chauffer-driven-car-rentals {
        margin: 21px;
    }
    .Wedding-Car-Rentals {
        margin: 21px;
    }
    .sevices-car {
        width: 102%;
        height: 1%;
    }
    .services__text {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .rentals__text {
        width: 377px;
    font-size: 22px;
    padding: 75px 0px 24px 15px;
    }
    .rentals__text-bold {
        width: 290px;
        height: 28px;
        margin-right: 0px;
        font-size: 20px;
    }
    .rentals__subtitle {
        padding: 5px 8px;
        font-size: 44px;
    }
    .rentals__subtitle-info {
        margin-left: 9%;
    }
    .card-citi {
        width: 186px;
    }
    .services__text {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .rentals__subtitle {
        padding: 5px 8px;
    }
    .from {
        padding: 70px 45px 46px 19px;
    }
    .rentals__text-color {
        width: 330px;
        font-size: 22px;
        padding: 13px;
    }
    .line {
        display: grid;
        grid-template-columns: 1fr;
        height: 3001px;
        margin-left: 2%;
    }
    .line-2 {
        display: grid;
        grid-template-columns: 1fr;
        height: 3001px;
        margin-left: 2%;
    }
    .cards {
        width: 99%;
    }
    .card-citi {
        width: 100%;
        height: 1%;
    }
    .carts {
        width: 186px;
    }
    .rentals {
        height: 100%;
        padding-top: 24%;
    }
}

@media screen and (max-width:576px)  {
    .rentals__subtitle-info {
        width: 453px;
        font-size: 43px;
        margin: 50px auto;
    }
    .line {
        display: grid;
        grid-template-columns: 1fr;
        height: 2600px;
        margin-left: -31%;
    }
    .line-2 {
        display: grid;
        grid-template-columns: 1fr;
        display: grid;
        grid-template-columns: 1fr;
        height: 2600px;
        margin-left: -31%;
    }
    .sevices-car {
        width: 103%;
        height: 8%;
    }
    .services__text {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .Our-Other-Services {
        height: 100%;
    }
    .cards {
        width: 63%;
    }
    .cards {
        margin-left: 26%;
    }
    .card-citi {
        width: 117%;
        height: 1%;
    }
    .cart {
        width: 117%;
        height: 334px;
    }
    .rentals__text {
        width: 365px;
        font-size: 20px;
    }
    .rentals__text-color {
        width: 341px;
    }
    .rentals {
        height: 100%;
    }
}
@media screen and (max-width:320px) {
     .rentals__subtitle-info {
        width: 334px;
        font-size: 24px;
        margin-left: 0%;
        text-align: center;
    }
    .cards {
        margin-left: 3%;
        width: 64%;
    }
    .privat-harter {
        margin: 9px;
    }
    .chauffer-driven-car-rentals {
    margin: 9px;
    }
    .Wedding-Car-Rentals {
        margin: 9px;
    }
    .rentals__text-color {
        width: 341px;
        font-size: 18px;
    }
    .rentals__text {
        width: 365px;
        font-size: 17px;
    }
    .Our-Other-Services {
        height: 100%;
    }
    .line {
        display: grid;
        grid-template-columns: 1fr;
        height: 1739px;        }
    .line-2 {
        display: grid;
        grid-template-columns: 1fr;
        height: 1739px;        }
}