* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
