* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


body{
    background: #1e1e1e;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1%;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    gap: 55px;
    align-items: center;
}

nav{
    display: flex;
    gap: 40px;
}
a:hover {
    color: #EE8313;
}
nav a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-btn button{
    background: #EE8313;
    color: #FFFFFF;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #EE8313;
    color: #FFFFFF;
}

.best-deals{
    position: relative;
}

.best-deals__info{
    margin: 7% 1%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.best-deals__info h2{
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    width: 50%;
}

.best-deals__info p{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.408px;
    width: 38%;
}

.info-buttons{
    display: flex;
    gap: 35px;
}

.buy-now{
    background: #EE8313;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.video-introduction{
    background: transparent;
    color: #EE8313;
    border: 1px solid #EE8313;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.info-statistics{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bold-span{
    font-weight: 700;
    font-size: 40px;
}

.best-deals__picture{
    position: absolute;
    top: -9%;
    left: 40.5%;
}

.best-deals__picture img{
    width: 122%;
}

.rent-car{
    padding: 4% 0;
}

.rent-car_title h2{
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    text-align: center;
    margin-bottom: 2%;
}

.cardes{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.carded{
    position: relative;
}

.carded img{
    width: 95%;
}

.card__title h6{
    padding: 3%;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 3%;
    left: 2%;
}

.card__body{
    position: absolute;
    bottom: 12%;
    right: 17%;
    font-weight: 500;
    font-size: 24px;
}

.card__body a{
    color:#FFFFFF;
    text-decoration: none;
}

.card__body a::after{
    content: url(../images/Vector\ 1.svg);
    margin-left: 15px;
}


.Our-Other-Services {
    height: 766px;
    background: #1E1E1E;
}
.info__subtitle {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 0.006em;
    color: #FFFFFF;
    padding: 60px 0 66px;
}
.from {
    padding: 18px 65px 6px 33px;
    display: flex;
    text-align: center;
    position: relative;
}
.services {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 14px;
}
.sevices-car {
    width: 98%;
    height: 295px;
}
/* .privat-harter {
    margin: 46px;
}
.chauffer-driven-car-rentals {
    margin: 46px;
}
.Wedding-Car-Rentals {
    margin: 46px;
} */
.services__subtitle {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.006em;
    color: #FFFFFF;
    margin-top: 8px;
}
.services__text {
    height: 84px;
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.006em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 8px;
    text-align: center;
}
.rentals {
    height: 1256px;
    background: #1E1E1E;
}
.line {
    /* display: grid;
    background-repeat:no-repeat;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}
.line-2 {
    /* display: grid;
    background-repeat:no-repeat;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}
.cards {
    width: 28%;
    height: 472px;
    padding-top: 50px;
    margin: 32px;
}
.card-citi {
    width: 100%;
}
/* .popular-destination {
    width: 384px;
    height: 472px;
    position: relative;
    padding-top: 50px;
} */
.cart {
    /* width: 384px;
height: 209px; */
background: #131313;
border: 1px solid #171717;
/* gap: 16px; */
}

.rentals__subtitle {
    width: 92px;
    height: 32px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.006em;
    color: #FFFFFF;
    padding: 5px 24px;
}
.rentals__subtitle-info {
    width: 591px;
    height: 128px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0.006em;
    color: #FFFFFF;
}
.rentals__text {
    width: 336px;
    height: 28px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.0041em;
    color: #FFFFFF;
    padding: 27px 24px;
}
.rentals__text-bold {
    width: 294px;
    height: 28px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.0041em;
    color: #FFFFFF;
    margin-right: 42px;
}
.icon__car {
    width: 30px;
height: 30px;
}
.rentals__text-color {
    width: 336px;
    height: 28px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.0041em;
    color: #EE8313;
    padding: 27px 24px;
}

.line-1 {
    display: flex;
    background-repeat:no-repeat;
    justify-content: space-between;
    padding-top: 46px;
}
/* .card-citi {
    width: 91%;
    height: 200px;
} */
a {
    text-decoration: none;
    line-height: 32px;
    font-size: 16px;
    
}
li {
    list-style: none;
    font-size: 12px;
    width: 133px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 377px;
}
.footer__left {
    padding-bottom:2%;
}
.footer {
    height: 377px;
    background: #1F1905;
}
.logops {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 77px;
}
.tetx {
    width: 235px;
    height: 64px;
    color: #fff;
    font-size: 18px;
}
.footer__text {
    font-family: 'Be Vietnam Pro';
}
.footer-left {
    display: flex;
}
a {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.footer__right {
    width: 646px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.block-1 {
    color: #fff;
    width: 90px;
    height: 168px;
}
.block-2 {
    color: #fff;
    width: 90px;
    height: 168px;
}
.block-3 {
    color: #fff;
    width: 90px;
    height: 168px;
}

.list__text {
    padding-bottom: 40px;
}
.footer__part-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    background: #EE8313;
    right: 50px;
}

